li {
	list-style: none;
}
body {
	font-size: 11px;
}

.removeMargin {
	margin-left: 0px !important;
}

.randomButton {
	margin-bottom: 20px;
	text-align: center;	
}


ul {
	margin: 0 0 0 0 !important;	
}
