.itemTitle a { font-size: 14px; }
.news-subtitle { margin: 0; font-weight: 300; margin-bottom: 10px; margin-top: 10px;}
.news-meta { color: gray; font-size: 18px; font-style: italic; margin-top: 0; }

ul>li {list-style-type: none;}
ul { padding-left: 0px; }
.panel-time { width: 200px; position: fixed; top: 60px; right: 40px; }
